@model IEnumerable<AssignThurs.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add an Artist</a>
</p>

@*<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="card-columns border-danger">
    @foreach (var item in Model) {
    <div class="container">
         <div class="card " style="width:400px">
            <img src="~/lib/Artist.jpg" class="card-img-top" alt="Card image" style="width:100%">
             <div class="card-body">
                <h4 class="card-title">  @Html.DisplayNameFor(modelItem => item.ArtistName) : @item.ArtistName</h4>
            <p class="card-text"> John Doe is an engineer in Computer science</p>
            <a href="#" class="btn btn-primary">See Profile</a>
                <a asp-action="Edit" asp-route-id="@item.ArtistId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistId">Details</a> 
            </div>
         </div>
    </div>

}
</div>